{% extends "base.html" %}

{% block title %}知识卡片{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/entitybase.css">
{% endblock %}

{% block entitybase_active %}
<li class="active dropdown">
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="jumbotron">
        <h1>{{ name }}</h1>
    </div>
    <hr />
</div>

<div class="container">
    <!-- {% for item in data.data %}
        <div style="margin-left: {{ item.margin_left }}px;">
            <h2>{{ item.sect_title }}</h2>
            <span>{{ item.sect_text }}</span>
        </div>
    {% endfor %} -->
    {% for item_attr in data.rest_attrs %}
        <div style="margin-left: {{ item_attr.margin_left * 50 }}px;">
            <h2>{{ item_attr.no }} &nbsp {{ item_attr.sect_title }}</h2>
            <span>{{ item_attr.sect_text }}</span>
        </div>
    {% endfor %}

    <br/><br/>
    <hr />
    <br/><br/>

    <div class="panel panel-default">
        <div class="panel-heading">概念关系</div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>概念一</th>
                    <th>关系</th>
                    <th>概念二</th>
                </tr>
            </thead>
            <tbody>
                {% i = 0 %}
                {% for item_non_attr in data.rest_non_attrs %}
                <tr>
                  <th scope="row">{{ i }}</th>
                  <td>{{ item_non_attr.subject }}<</td>
                  <td>{{ item_non_attr.predicate }}</td>
                  <td>{{ item_non_attr.object }}</td>
                </tr>
                {% i += 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- <div>
        <h4>
            <strong>{{ item_non_attr.subject }}</strong>
            {{ item_non_attr.predicate }}
            <strong>{{ item_non_attr.object }}</strong>
        </h4>
    </div> -->
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
