{% extends "base.html" %}

{% block title %}Control Panel{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/dataTables/jquery.dataTables.min.css">
{% endblock %}

{% block console_active %}
<li class="active">
{% endblock %}

{% block page_content %}
    <div class="container">

        {% if status %}
            <div class="alert alert-info" role="alert">{{ status }}</div>
        {% endif %}
{#        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myEntityModal">添加实体</button>#}

        <form action="/sjkg/excel_import" method=post enctype=multipart/form-data>
            <input type="file" title="选择Excel文件" name="file">&nbsp;&nbsp;
            <input type="submit" value="上传" class="btn btn-default">
        </form><hr>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myRelationModal">添加关系</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myRelationModal2">添加图片</button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myRelationModal3">添加视频</button>

        <!-- RelationModal -->
        <form action="/sjkg/control" method="POST">
        <div class="modal fade" id="myRelationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加关系</h4>
              </div>
              <div class="modal-body">
                  {{ add_relation_form.hidden_tag() }}
                  {{ add_relation_form.subject(placeholder="主体...", class="form-control", required="required") }}<br />
                  {{ add_relation_form.predicate(placeholder="谓词...", class="form-control", required="required") }}<br />
                  {{ add_relation_form.object(placeholder="客体...", class="form-control", required="required") }}<br />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                {{ add_relation_form.submit(class="btn btn-primary") }}
              </div>
            </div>
          </div>
        </div>
        </form>

        <!-- RelationModal -->
        <form action="/sjkg/control" method="POST" id="hehe">
        <div class="modal fade" id="myRelationModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑关系</h4>
              </div>
              <div class="modal-body">
                  {{ add_relation_form.hidden_tag() }}
                  {{ add_relation_form.subject(placeholder="Subject...", class="form-control", id="relation_subject", required="required") }}<br />
                  {{ add_relation_form.predicate(placeholder="Predicate...", class="form-control", id="relation_predicate", required="required") }}<br />
                  {{ add_relation_form.object(placeholder="Object...", class="form-control", id="relation_object", required="required") }}<br />
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                {{ add_relation_form.submit(class="btn btn-primary", onclick="edit_submit()") }}
              </div>
            </div>
          </div>
        </div>
        </form>

        <form action="/sjkg/upload_pic" method=post enctype=multipart/form-data>
        <div class="modal fade" id="myRelationModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加图片</h4>
              </div>
              <div class="modal-body">
                  <label for="pic_entity">实体名</label>
                  <input type="text" class="form-control" name="entity" id="pic_entity">&nbsp;&nbsp;<br/>
                  <input type="file" title="选择文件上传" name="file">&nbsp;&nbsp;
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  <input type="submit" value="上传" class="btn btn-default">
              </div>
            </div>
          </div>
        </div>
        </form>

        <form action="/sjkg/upload_vid" method=post enctype=multipart/form-data>
        <div class="modal fade" id="myRelationModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加视频</h4>
              </div>
              <div class="modal-body">
                  <label for="pic_entity">实体名</label>
                  <input type="text" class="form-control" name="entity" id="pic_entity">&nbsp;&nbsp;<br/>
                  <input type="file" title="选择文件上传" name="file">&nbsp;&nbsp;
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  <input type="submit" value="上传" class="btn btn-default">
              </div>
            </div>
          </div>
        </div>
        </form>

        <hr>

        <table id="triples" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>主体</th>
                    <th>谓词</th>
                    <th>客体</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>主体</th>
                    <th>谓词</th>
                    <th>客体</th>
                    <th>操作</th>
                </tr>
            </tfoot>
            <tbody>
                {% if triples %}
                {% for triple in triples %}
                <tr>
                    <td width="20%">{{ triple.Subject }}</td>
                    <td width="20%">{{ triple.Predicate }}</td>
                    <td width="40%">{{ triple.Object }}</td>
                    <td width="20%">
                        <button type="button" class="btn btn-sm btn-success edit_triple">编辑</button>
                        <button type="button" class="btn btn-sm btn-danger delete_triple">删除</button>
                        <button type="button" class="btn btn-sm btn-info show_triple">查看</button>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/jquery-1.11.1.min.js"></script>
    <script src="/static/dataTables/jquery.dataTables.min.js"></script>
    <script src="/static/js/bootstrap.file-input.js"></script>
    <script src="/static/js/modal.js"></script>
    <script>
        var delete_subject;
        var delete_predicate;
        var delete_object;

        $('input[type=file]').bootstrapFileInput();
        $(document).ready(function() {
            $('#triples').dataTable({
                "processing": true,
                "oLanguage": {  //语言设置
                  "sLengthMenu": "每页显示 _MENU_ 条记录",
                  "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                  "oPaginate": {
                      "sFirst": "首页",
                      "sPrevious": "前一页",
                      "sNext": "后一页",
                      "sLast": "尾页"
                      },
                  "sSearch": "查找:",
                  "sZeroRecords": "抱歉，没有找到",
                  "sInfoEmpty": "没有数据"
                }
            });
        });

        $('#triples tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected_delete')) {
                $(this).removeClass('selected_delete');
            }
            else {
                $('#triples').DataTable().$('tr.selected_delete').removeClass('selected_delete');
                $(this).addClass('selected_delete');
            }
        });

        $('.delete_triple').on("click", function() {
            // console.log($(this));
            // console.log($(this)[0].parentNode);
            // console.log($(this)[0].parentNode.parentNode);
            // console.log($(this));
            // $(this) gets current delete button
            var btnsParent = $(this)[0].parentNode;
            var btns = btnsParent.childNodes;
            var btnEdit = btns[1];
            var btnDel = btns[3];
            var btnInfo = btns[5];
            // console.log(btnsParent);
            // console.log(btns);
            // console.log(btnEdit);

            var itemNodesParent = btnsParent.parentNode;
            var itemNodes = itemNodesParent.childNodes;
            // console.log(itemNodes);
            var temp_subject = itemNodes[1].innerHTML;
            var temp_predicate = itemNodes[3].innerHTML;
            var temp_object = itemNodes[5].innerHTML;
            var confirm_content = "确定要删除关系(" + temp_subject + ", " + temp_predicate + ", " + temp_object + ")么？";
            // var postData = 'subject=' + temp_subject + '&predicate=' + temp_predicate + '&object=' + temp_object;
            if (confirm(confirm_content) == true) {
                //disable all btns
                btnEdit.setAttribute('disabled',true);
                btnDel.setAttribute('disabled',true);
                btnInfo.setAttribute('disabled',true);

                data = {};
                data['subject'] = temp_subject;
                data['predicate'] = temp_predicate;
                data['object'] = temp_object;

                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('control_relation_delete') }}",
                    data: JSON.stringify(data, null, '\t'),
                    contentType: 'application/json;charset=UTF-8',
                    crossDomain: true,
                    success: function(data, textStatus) {
                        //disable all btns
                        btnEdit.setAttribute('disabled',false);
                        btnDel.setAttribute('disabled',false);
                        btnInfo.setAttribute('disabled',false);
                        $('#triples').DataTable().row('.selected_delete').remove().draw(false);
                    },
                    timeout: 10000,
                    error: function(xhr, textStatus, errorThrown){
                       alert('Unknown error, contact your administrator.');//needed to change type
                       //disable all btns
                       btnEdit.setAttribute('disabled',false);
                       btnDel.setAttribute('disabled',false);
                       btnInfo.setAttribute('disabled',false);
                    },
                    dataType: "json"
                });
            }
        });

        $('.show_triple').on("click", function() {
            var itemNodes = $(this)[0].parentNode.parentNode.childNodes;
            var alert_content = "(" + itemNodes[1].innerHTML + ", " + itemNodes[3].innerHTML + ", " + itemNodes[5].innerHTML + ")";
            alert(alert_content);
        });

        $('.edit_triple').on("click", function() {
            var itemNodes = $(this)[0].parentNode.parentNode.childNodes;
            var relation_subject = document.getElementById("relation_subject");
            var relation_predicate = document.getElementById("relation_predicate");
            var relation_object = document.getElementById("relation_object");
            relation_subject.value = itemNodes[1].innerHTML;
            relation_predicate.value = itemNodes[3].innerHTML;
            relation_object.value = itemNodes[5].innerHTML;

            delete_subject = itemNodes[1].innerHTML;
            delete_predicate = itemNodes[3].innerHTML;
            delete_object = itemNodes[5].innerHTML;

            $("#myRelationModalEdit").modal('show');
        });

        function edit_submit() {
            var postData = 'subject=' + delete_subject + '&predicate=' + delete_predicate + '&object=' + delete_object;
            $.ajax({
                type: 'GET',
                url: "/sjkg/control/relation/delete",
                data: postData,
                crossDomain: true,
                success: function(data) {

                },
                dataType: "json"
            });

            document.getElementById("hehe").submit();
        }
    </script>
{% endblock %}
